.popup {
    position: absolute;
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  #paragraph{
      font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  }

  #bonus{
    visibility: hidden;
  }
